<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ONEBIZ.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DE1A09E70FC593B3E5CF8B1EBDBCBFF7C2ED8471</string>
				<key>dateExpires</key>
				<string>2025/03/06</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G566TUW9WP.kr.co.bnksys</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G566TUW9WP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ONEBIZ.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>952b1fd0-0c64-40ff-973e-45f9d8ca27b9</string>
				<key>dateExpires</key>
				<string>2024/04/20</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: kr.co.bnksys</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G566TUW9WP</string>
				<key>name</key>
				<string>BS Information System Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
