<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BIC.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A76DC9F8CD7DD7EF2532BF12727B672D973EEEDF</string>
				<key>dateExpires</key>
				<string>4/25/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9VK93HTWN9.com.bnksb.budget</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9VK93HTWN9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BIC.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a103d6c6-5b5e-482e-8978-14bed47d0db7</string>
				<key>dateExpires</key>
				<string>5/2/26</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.bnksb.budget</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9VK93HTWN9</string>
				<key>name</key>
				<string>BNK SAVING BANK</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
